{% extends 'base.html.twig' %}

{% block content %}
    <h3>Тестовое задание</h3>
    {{ form(form) }}
    <h3>Examples:</h3>
    GR123456789<br>
    D16
    <h3>Result:</h3>
    <div id="form_success"></div>
    <div id="form_errors"></div>
{% endblock %}

